<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Kamahl.Common" version="1.0.19" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="7.0.1-beta2" targetFramework="net40" />
  <package id="SlackRTM" version="1.0.0-CI00020" targetFramework="net40" />
  <package id="WebSocketSharp" version="1.0.3-rc7" targetFramework="net40" />
</packages>