<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Kamahl.Common" version="1.0.21" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="SlackRTM" version="1.0.0-CI00025" targetFramework="net452" />
  <package id="WebSocketSharp" version="1.0.3-rc8" targetFramework="net452" />
</packages>